*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Other
*.swp
*.log
*.log.*
*.pid
*.restart
*.db3


# Installation-specific.
# For group efforts, comment out some or all of these.
evennia.db3
server/*
server/conf/secret_settings.py
server/logs/*.log.*
server/.static/*
server/.media/*
world/commerce/migrations/*
world/cyberpunk_sheets/migrations/*
world/cyberpunk/migrations/*
world/cyberware/migrations/*
world/elflines/migrations/*
world/factions/migrations/*
world/hangouts/migrations/*
world/inventory/migrations/*
world/jobs/migrations/*
world/languages/migrations/*
world/mail/migrations/*
world/mission_board/migrations/*
world/mystery/migrations/*
world/netrunning/migrations/*
world/plots/migrations/*
world/requests/migrations/*
world/utils/migrations/*
world/voucher/migrations/*
books/*
newcommands/*

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# PyCharm config
.idea

# VSCode config
.vscode
evennia.db3
*.db3
"evennia.db3" 
world/mission_board/__pycache__/models.cpython-311.pyc
world/mission_board/__pycache__/services.cpython-311.pyc
world/mission_board/__pycache__/models.cpython-311.pyc
world/mission_board/__pycache__/services.cpython-311.pyc
__pycache__/
*.pyc
*.pyo
/docs
_skill_chip_addcyberware_soma.txt
docs/mediawiki/Roleplay_Commands_Guide.wiki
docs/mediawiki/Mysteries_Guide.wiki
/docs
